<h1>Editing port</h1>

<% form_for(@port) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  </p>
  <p>
    <%= f.label :version %><br />
    <%= f.text_field :version %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :licenses %><br />
    <%= f.text_field :licenses %>
  </p>
  <p>
    <%= f.label :categories %><br />
    <%= f.text_field :categories %>
  </p>
  <p>
    <%= f.label :variants %><br />
    <%= f.text_field :variants %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @port %> |
<%= link_to 'Back', ports_path %>