<p id="notice"><%= notice %></p>

<%= 
 json = ActiveSupport::JSON.decode(@submission.data) 
 os = json['os']
 "" 
%>

<p>UUID: <%= json['id'] %></p>

<p> macports_version: <%= os['macports_version'] %> </p>
<p> osx_version:      <%= os['osx_version'] %></p>
<p> os_arch:          <%= os['os_arch'] %> </p>
<p> os_platform:      <%= os['os_platform'] %></p>
<p> build_arch:       <%= os['build_arch'] %></p>
<p> gcc_version:      <%= os['gcc_version'] %></p>
<p> xcode_version:    <%= os['xcode_version'] %></p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>