<div id="navigation">
  <dl>
    <dt>Getting Started</dt>
    <dd>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Installing MacPorts', install_path %></li>
        <li><%= link_to 'Available Ports', ports_path %></li>
        <li><%= link_to 'Documentation', $guide_url %></li>
        <li><%= link_to 'Support &amp; Development', $trac_url %></li>
        <li><%= link_to 'Contact Us', contact_path %></li>
        <li><%= link_to 'News', "#{$trac_url}news" %></li>
      </ul>
    </dd>

    <dt>Shortcuts</dt>
      <dd>
        <ul>
          <li><%= link_to 'Available Downloads', $downloads_url %></li>
          <li><%= link_to 'MacPorts FAQ', "#{$trac_url}wiki/FAQ" %></li>
          <li><%= link_to 'Report a Bug', "#{$trac_url}newticket" %></li>
          <li><%= link_to 'Bug reporting Guidelines', "#{$trac_url}#project.tickets" %></li>
          <li><%= link_to 'Subversion Repository', $svn_url %></li>
          <li><%= link_to 'MacPorts Team', "#{$trac_url}wiki/MacPortsDevelopers" %></li>
          <li><%= link_to 'Becoming a Member', "#{$guide_url}#project.membership" %></li>
          <li><%= link_to 'Mac OS Forge', 'http://www.macosforge.org' %></li>
        </ul>
      </dd>
    </dl>
</div>