<div id="navigation">
  <dl>
    <dt>Getting Started</dt>
    <dd>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Installing MacPorts', install_path %></li>
        <li><%= link_to 'Available Ports', ports_path %></li>
        <li><%= link_to 'Documentation', 'http://guide.macports.org' %></li>
        <li><%= link_to 'Support &amp; Development', 'http://trac.macports.org' %></li>
        <li><%= link_to 'Contact Us', contact_path %></li>
        <li><%= link_to 'News', 'http://tac.macports.org/news' %></li>
      </ul>
    </dd>

    <dt>Shortcuts</dt>
      <dd>
        <ul>
          <li><%= link_to 'Available Downloads', 'http://distfiles.macports.org/MacPorts' %></li>
          <li><%= link_to 'MacPorts FAQ', 'http://trac.macports.org/wiki/FAQ' %></li>
          <li><%= link_to 'Report a Bug', 'http://trac.macports.org/newticket' %></li>
          <li><%= link_to 'Bug reporting Guidelines', 'http://http://guide.macports.org/#project.tickets' %></li>
          <li><%= link_to 'Subversion Repository', 'http://svn.macports.org/repository/macports' %></li>
          <li><%= link_to 'MacPorts Team', 'http://tac.macports.org/wiki/MacPortsDevelopers' %></li>
          <li><%= link_to 'Becoming a Member', 'http://guide.macports.org/#project.membership' %></li>
          <li><%= link_to 'Mac OS Forge', 'http://www.macosforge.org' %></li>
        </ul>
      </dd>
    </dl>
</div>