<h2>Credits</h2>
<p>
	The MacPorts statistics web application and the initial client were written by <%= link_to "Derek Ingrouville", "https://trac.macports.org/wiki/derek" %>
	when MacPorts participated in <%= link_to "Google Summer of Code 2011", "https://trac.macports.org/wiki/SummerOfCode2011" %>. Some documentation for the
	source written in GSoC can be found in <%= link_to "the Wiki", "https://trac.macports.org/wiki/MacPortsStatisticsGSoC2011" %>. The source code for the
	server is available in MacPorts' Subversion repository at <%= link_to "/branches/gsoc11-statistics", "https://trac.macports.org/browser/branches/gsoc11-statistics" %>.
</p>
<p>
	The current installation of the statistics server has been modified and is run by MacPorts Developer <%= link_to "Clemens Lang", "https://trac.macports.org/wiki/cal" %>.
</p>
<p>
	The client implementation as the <code>mpstats</code> port is the work of <%= link_to "Derek Ingrouville", "https://trac.macports.org/wiki/derek" %>,
	<%= link_to "Joshua Root", "https://trac.macports.org/wiki/jmr" %> and <%= link_to "Clemens Lang", "https://trac.macports.org/wiki/cal" %>. The source of
	the client is currently available at <%= link_to "/trunk/dports/sysutils/mpstats", "https://trac.macports.org/browser/trunk/dports/sysutils/mpstats" %>
	in the MacPorts Subversion repository.
</p>

<h2>Source</h2>
<p>Both the statistics client and the statistics server are open source:
	<ul>
		<li><%= link_to "client", "https://trac.macports.org/browser/trunk/dports/sysutils/mpstats" %></li>
		<li><%= link_to "server", "https://trac.macports.org/browser/branches/gsoc11-statistics" %></li>
	</ul>
</p>
