<div id="content">
  <%= render :partial => '/partials/port_search' %>

  <h3>Query Results</h3>

  <%= will_paginate @ports %>

  <% @ports.each do |port| %>
    <dl>
      <dt><b><%= link_to port.name, category_ports_path(port.category, port) %></b> <%= port.version %></dt>
      <dd><%= port.description %><br />
      <i>Maintained by:</i> <b><span class="email"><%= port.maintainers %></span></b><br>
      <i>Categories:</i> <%= port.category.name %><br />
      <i>Platforms:</i> <%= port.platforms %><br />
      <i>Variants:</li> <%= port.variants %></dd>
    </dl>
  <% end %>

  <%= will_paginate @ports %>
</div>