<div id="content">
  <p>
    <strong>Name:</strong> <%=h @port.name %>
  </p>

  <p>
    <strong>Current Version:</strong> <%=h @port.version %>
  </p>

  <% unless @port.description.nil? %>
    <p>
      <strong>Description:</strong> <%=h @port.description %>
    </p>
  <% end %>

  <% unless @port.licenses.nil? %>
    <p>
      <strong>Licenses:</strong> <%=h @port.licenses %>
    </p>
  <% end %>

  <p>
    <strong>Categories</strong>
    <%=h @port.categories %>
  </p>

  <% unless @port.variants.nil? %>
    <p>
      <strong>Variants:</strong> <%=h @port.variants %>
    </p>
  <% end %>

  <% unless @port.dependencies.empty? %>
    <p>
      <strong>Dependencies:</strong>
      <% @port.dependencies.each do |dependency| %>
        <%= link_to dependency.name, category_port_path(dependency.category, dependency) %>
      <% end %>
    </p>
  <% end %>

  <p>
    <strong>Portfile:</strong> <%= link_to "#{@port.path}/Portfile", "#{$svn_url}/trunk/dports/#{@port.path}/Portfile" %>
  </p>

  <% form_for([@port.category, @port, @comment]) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :body, "<strong>Comment</strong>" %><br />
      <%= f.text_area :body, {:rows => 5, :cols => 80} %>
    </p>
    <p>
      <%= recaptcha_tags %>
    </p>
    <p>
      <%= f.submit 'Create' %>
    </p>
  <% end %>

  <% @port.comments.each do |comment| %>
    <div><%= h comment.body %></div>
  <% end %>

</div>