<div id="content">
  <p>
    <strong>Name:</strong> <%=h @port.name %>
  </p>

  <p>
    <strong>Current Version:</strong> <%=h @port.version %>
  </p>

  <p>
    <strong>Licenses:</strong> <%=h @port.licenses %>
  </p>

  <p>
    <strong>Categories</strong>
    <%=h @port.category.name %>
    <% @port.supplemental_categories.each do |category| %>
      <%=h category.name %>
    <% end %>
  </p>

  <p>
    <strong>Variants:</strong> <%=h @port.variants %>
  </p>

  <p>
    <strong>Dependencies:</strong>
    <% @port.dependencies.each do |dependency| %>
      <%= link_to dependency.name, dependency %>
    <% end %>
  </p>

  <p>
    <strong>Description:</strong> <%=h @port.description %>
  </p>

  <p>
    <strong>SVN Path:</strong> <%=h @port.path %>
  </p>

  <% form_for([@port.category, @port, @comment]) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :body, "<strong>Comment</strong>" %><br />
      <%= f.text_area :body %>
    </p>
    <p>
      <%= recaptcha_tags %>
    </p>
    <p>
      <%= f.submit 'Create' %>
    </p>
  <% end %>

  <% @port.comments.each do |comment| %>
    <div><%= h comment.body %></div>
  <% end %>

  <%= link_to 'Back', ports_path %>
</div>