<%= render :partial => '/partials/port_search' %>

<div id="metastatistics">
	<h2>Participating Users</h2>

	<p>Our statistics know about <strong><%= User.count %></strong> users in total. Last month (<%= @last_month %>), <strong><%= @users_last_month %></strong> users have submitted statistics.</p>
	
	<% controller.set_chart_title :participating_users, 'Participating Users' %>
	<% controller.set_chart_type  :participating_users, "LineChart" %>
	<%= render :partial => '/partials/chart_draw', :locals => {:charts => [:participating_users], :drawtables => false, :headers => false} %>
</div>
