<h2>Port Statistics</h2>
<p>The statistics server currently knows about <%= Port.count %> ports. On average, each participating user has <strong><%= @average_ports %></strong> of them installed.</p>

<% unless @popular_port_month.nil? && @popular_port_year.nil? %>
<h3>Popular Ports</h3>
<% end %>
<%# Most popular port this month %>
<% unless @popular_port_month.nil? %>
	<% port = @popular_port_month %>
	<p>Most popular port this month (<%= @month %>) is <strong><%= link_to port.name, category_port_path(port.category, port) %></strong> with <strong><%= @popular_port_month_count %></strong> installs.</p>
<% end %>

<%# Most popular port this year %>
<% unless @popular_port_year.nil? %>
	<% port = @popular_port_year %>
	<p>Most popular port this year (<%= @year %>) is <strong><%= link_to port.name, category_port_path(port.category, port) %></strong> with <strong><%= @popular_port_year_count %></strong> installs.</p>
<% end %>

<%# Draw chart  %>
<% controller.set_chart_title :top25, '25 top ports this month' %>
<% controller.set_chart_type  :top25, "BarChart" %>
<%= render :partial => '/partials/chart_draw', :locals => {:charts => [:top25], :chart_height => 850, :headers => true} %>
