<%# title: Title of the chart %>
<%# key: key into chartjson hash table %>
<%# div: div where chart should be drawn %>
<% charts = [] %>
<% charts << {:title => 'MacPorts Versions', :key => 'macports_version',  :div => 'macports_versions_div'} %>
<% charts << {:title => 'OSX Versions', :key => 'osx_version', :div => 'osx_versions_div'} %>
<% charts << {:title => 'OS Arch', :key => 'os_arch', :div => 'os_arch_div'} %>
<% charts << {:title => 'OS Platform', :key => 'os_platform', :div => 'os_platform_div'} %>
<% charts << {:title => 'Build Arch', :key => 'build_arch', :div => 'build_arch_div'} %>
<% charts << {:title => 'gcc Version', :key => 'gcc_version', :div => 'gcc_version_div'} %>
<% charts << {:title => 'XCode Version', :key => 'xcode_version', :div => 'xcode_version_div'} %>

<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script type="text/javascript">
// Load the Visualization API and the piechart package.
google.load('visualization', '1', {'packages':['corechart']});
      
// Set a callback to run when the Google Visualization API is loaded.
google.setOnLoadCallback(drawAllCharts);

function drawPieChart(json, title, div) {
  var data  = new google.visualization.DataTable(json);
  var chart = new google.visualization.PieChart(document.getElementById(div));
  chart.draw(data, {width: 450, height: 300, title: title});
}

function drawAllCharts() {
  
  <% charts.each do |hash|%>
  json = <%= raw @chartjson[hash[:key]] %>;
  drawPieChart(json, '<%= hash[:title] %>', '<%= hash[:div] %>');
  <% end %>
}
</script>
 
<div id="macports_versions_div"></div>
<div id="osx_versions_div"></div>
<div id="os_arch_div"></div>
<div id="os_platform_div"></div>
<div id="build_arch_div"></div>
<div id="gcc_version_div"></div>
<div id="xcode_version_div"></div>

<br />

<h1>All Stats</h1>

<table border=1>
	<tr>
		<th> ID </th>
		<th> user_id </th>
		<th> MacPorts Version</th>
		<th> OSX Version</th>
		<th> OS Arch </th>
		<th> Platform </th>
		<th> Build Arch</th>
		<th> gcc Version</th>
		<th> XCode Version</th>
		<th> Details </th>
	</tr>

<% @stats.each do |row| %>
  <tr>
    <td> <%= row.id %> </td>
		<td> <%= row.user_id %> </td>
		<td> <%= row.macports_version %> </td>
		<td> <%= row.osx_version %></td>
		<td> <%= row.os_arch %> </td>
		<td> <%= row.os_platform %></td>
		<td> <%= row.build_arch %></td>
		<td> <%= row.gcc_version %></td>
		<td> <%= row.xcode_version %></td>
    <td> <%= link_to 'Show', row %></td>
  </tr>
<% end %>
</table>





