<%# Set titles for charts %>
<% controller.set_chart_title :macports_version, "MacPorts Versions" %>
<% controller.set_chart_title :osx_version, "OSX Versions" %>
<% controller.set_chart_title :os_arch, "OS Arch" %>
<% controller.set_chart_title :os_platform, "OS Platform" %>
<% controller.set_chart_title :build_arch, "Build Arch" %>
<% controller.set_chart_title :gcc_version, "gcc Versions" %>
<% controller.set_chart_title :xcode_version, "XCode Versions" %>

<%# All these charts are pie charts - set :type to PieChart %>
<% @charts.each do |chart_name, chartdata| %>
  <% controller.set_chart_type chart_name, "PieChart" %>
<% end %>

<%# Order the charts %>
<% ordered_charts = [:macports_version, 
                     :osx_version, 
                     :os_arch, 
                     :os_platform,
                     :build_arch,
                     :gcc_version,
                     :xcode_version] %>

<% ordered_charts.each do |chart| %>
  <% options = {:width => 600, :height => 400, :html => {:class => "graph_chart"}} %>
  <% options[:title] = controller.chart_title chart %>
  <% type = controller.chart_type chart %>
  
  <% visualization chart, type, options do |visualization| %>
    <% controller.populate_chart chart, visualization %>
  <% end %>
<% end %>

<br />

<h1>All Stats</h1>

<table border=1>
	<tr>
		<th> ID </th>
		<th> user_id </th>
		<th> MacPorts Version</th>
		<th> OSX Version</th>
		<th> OS Arch </th>
		<th> Platform </th>
		<th> Build Arch</th>
		<th> gcc Version</th>
		<th> XCode Version</th>
		<th> Details </th>
	</tr>

<% @stats.each do |row| %>
  <tr>
    <td> <%= row.id %> </td>
		<td> <%= row.user_id %> </td>
		<td> <%= row.macports_version %> </td>
		<td> <%= row.osx_version %></td>
		<td> <%= row.os_arch %> </td>
		<td> <%= row.os_platform %></td>
		<td> <%= row.build_arch %></td>
		<td> <%= row.gcc_version %></td>
		<td> <%= row.xcode_version %></td>
    <td> <%= link_to 'Show', row %></td>
  </tr>
<% end %>
</table>





