<p> macports_version: <%= @os_stats.macports_version %> </p>
<p> osx_version:      <%= @os_stats.osx_version %></p>
<p> os_arch:          <%= @os_stats.os_arch %> </p>
<p> os_platform:      <%= @os_stats.os_platform %></p>
<p> build_arch:       <%= @os_stats.build_arch %></p>
<p> gcc_version:      <%= @os_stats.gcc_version %></p>
<p> xcode_version:    <%= @os_stats.xcode_version %></p>