<%= render :partial => '/partials/port_search' %>

<h2>Query Results</h2>
<% unless @ports.empty? %>
	<p>Displaying results <strong><%= ((@page.to_i - 1) * 50) + 1 %></strong> - <strong><%= [@ports.count, @page.to_i * 50].min %></strong> of <%= @ports.count %> total.</p>
	<p><%= will_paginate @ports %></p>

	<% @ports.each do |port| %>
		<dl>
			<dt><strong><%= link_to port.name, category_port_path(port.category, port) %></strong> <%= port.version %></dt>
			<dd>
				<% unless port.description.nil? %>
					<p><%= port.description %></p>
				<% end %>
				<% unless port.maintainers.nil? %>
					<i>Maintained by:</i> <span class="email"><%= port.maintainers %></span><br />
				<% end %>
				<% unless port.categories.nil? %>
					<i>Categories:</i> <%= print_search_links(port, "categories") %><br />
				<% end %>
				<% unless port.platforms.nil? %>
					<i>Platforms:</i> <%= print_search_links(port, "platforms") %><br />
				<% end %>
				<% unless port.variants.nil? %>
					<i>Variants:</i> <%= print_search_links(port, "variants") %>
				<% end %>
			</dd>
		</dl>
	<% end %>
	<p><%= will_paginate @ports %></p>
<% else %>
	<p class="no-data">No ports matched your query.</p>
<% end %>
