<% controller.set_chart_title :version_count, 'All Versions' %>
<% controller.set_chart_type :version_count, 'PieChart' %>

<% controller.set_chart_title :variant_count, 'All Variants' %>
<% controller.set_chart_type :variant_count, 'PieChart' %>

<% controller.set_chart_title :versions_over_time, 'Top Versions in use Over Last 12 Months' %>
<% controller.set_chart_type :versions_over_time, 'LineChart' %>

<% controller.set_chart_title :installs_over_time, 'Installations Over Last 12 Months' %>
<% controller.set_chart_type :installs_over_time, 'LineChart' %>

<%# Order the charts %>
<% ordered_charts = [:installs_over_time, 
                     :versions_over_time, 
                     :version_count, 
                     :variant_count] %>

<div id="content">
  <p>
    <strong>Name:</strong> <%= @port.name %>
  </p>

  <p>
    <strong>Current Version:</strong> <%= @port.version %>
  </p>

  <% unless @port.description.nil? %>
    <p>
      <strong>Description:</strong> <%= @port.description %>
    </p>
  <% end %>

  <% unless @port.licenses.nil? %>
    <p>
      <strong>Licenses:</strong> <%= @port.licenses %>
    </p>
  <% end %>

  <p>
    <strong>Categories</strong>
    <%=h @port.categories %>
  </p>

  <% unless @port.variants.nil? %>
    <p>
      <strong>Variants:</strong> <%=h @port.variants %>
    </p>
  <% end %>

  <%# Draw charts %>
  <% ordered_charts.each do |chart| %>
    <% options = {:width => 600, :height => 400, :html => {:class => "graph_chart"}} %>
    <% options[:title] = controller.chart_title chart %>
    <% type = controller.chart_type chart %>

    <% visualization chart, type, options do |visualization| %>
      <% controller.populate_chart chart, visualization %>
    <% end %>
  <% end %>

  <% @installed.each do |row| %>
    <tr>
      <td> <%= row.id %> </td>
      <td> <%= row.port_id %> </td>
      <td> <%= row.version %></td>
      <td> <%= row.variants %> </td>
      <td> <%= row.updated_at %> </td>
    </tr>
  <% end %>

</div>
