<% controller.set_chart_title :version_count, 'All Versions' %>
<% controller.set_chart_type :version_count, 'PieChart' %>

<% controller.set_chart_title :variant_count, 'All Variants' %>
<% controller.set_chart_type :variant_count, 'PieChart' %>

<% controller.set_chart_title :versions_over_time, 'Top Versions Over Last 12 Months' %>
<% controller.set_chart_type :versions_over_time, 'LineChart' %>

<% controller.set_chart_title :installs_over_time, 'Installations Over Last 12 Months' %>
<% controller.set_chart_type :installs_over_time, 'LineChart' %>

<%# Order the charts %>
<% ordered_charts = [:installs_over_time, 
                     :versions_over_time, 
                     :version_count, 
                     :variant_count] %>

<h2><%= @port.name %> Metadata</h2>
<dl>
	<dt>Current Version</dt>
	<dd><%= @port.version %></dd>
	<% unless @port.description.nil? %>
		<dt>Description</dt>
		<dd><%= @port.description %></dd>
	<% end %>
	<% unless @port.licenses.nil? %>
		<dt>Licenses</dt>
		<dd><%= @port.licenses %></dd>
	<% end %>
	<% unless @port.categories.nil? %>
		<dt>Categories</dt>
		<dd><%= @port.categories %></dd>
	<% end %>
	<% unless @port.variants.nil? %>
		<dt>Variants</dt>
		<dd><%= @port.variants %></dd>
	<% end %>
</dl>

<h2><%= @port.name %> Statistics</h2>
<%# Generate links %>
<ul>
	<% ordered_charts.each do |chart|  %>
		<li><%= link_to controller.chart_title(chart), :anchor => chart %></li>
	<% end %>
</ul>

<%# Draw charts %>

<%= render :partial => '/partials/chart_draw', :locals => {:charts => ordered_charts, :headers => true} %>
